.cs-logo-wrap {
    max-width: 200px;
    max-height: 100px;
    position: absolute;
    z-index: 99;
    transform: rotateZ(90deg);
    top: 16px;
    left: 50px;
    z-index: 999;
    @media (max-width: 991px){
        left: 0px;
    }
}