@import './../../styles/main.scss';

.bg-color {
    background-color:red;
    color: white;
}
.main-left-right-col{
    width: 100%;
    &:after{
        content: '';
        float: left;
        display: inline-block;
        width: 100%;
    }
    .right-col-30{
        width: 250px;
        float: right;
    }
    .left-col-70{
        width: calc(100% - 250px);
        float: left;
    }
}
 .tile {
    width:33.33%;
    display: inline-block;
    position: relative;
    padding: 25px;
    opacity: 1;
    transition: 200ms opacity;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform opacity;
    &:hover{
        -webkit-transform: scale(1.008);
        transform: scale(1.1);
        opacity: 0.85;
        transition-duration: 0.3s;
        transition-property: transform opacity;
    }
    .spacer {
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        transition: filter .4s;
        padding-bottom: 113%;        
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
    }
    .info {
        position: absolute;
        bottom: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        h2 {
            box-sizing: content-box;
            font-size: 14px;
            line-height: 20px;
            margin-top: 5.45px;
            margin-bottom: -5.45px;
            padding-bottom: 0;
            font-weight: 400;
            max-width: none;
            letter-spacing: 1px;
            color: $secondry-color;
           
        }
        .more {
            color: #fff;
            box-sizing: content-box;
            font-size: 10px;
            line-height: 13px;
            margin-top: 10.25px;
            margin-bottom: -3.25px;
            padding-bottom: 0;
        }
    }
}

.sidebar {
    position: relative;
    margin-top: 190px;
    float: left;
    width: 100%;
    color: $secondry-color;
    list-style: none;
    input[type=search] {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        color: $primary-color;
        width: 100%;
        box-sizing: content-box;
        font-size: 22px;
        line-height: 27px;
        margin-top: -4.65px;
        margin-bottom: -6.35px;
        padding-bottom: 0;
        background: 0 0;
        outline: none;
    }
    &>li {
        box-sizing: content-box;
        font-size: 22px;
        line-height: 27px;
        margin-top: 12.35px;
        padding-bottom: 9.65px;
        margin-bottom: 0;
    }
    li.selected a {
        opacity: 1;
        color: $primary-color;
    }
    .sidebar-list {
        width: calc(37.51696%);
        padding: 0;
        margin: 0;
        float: left;
        list-style: none;
        white-space: nowrap;
    }
    li {
        box-sizing: content-box;
        font-size: 22px;
        line-height: 27px;
        margin-top: 6.35px;
        margin-bottom: -6.35px;
        padding-bottom: 0;
    }
    li a {
        text-decoration: none;
        color: $secondry-color;
        opacity: .5;
        letter-spacing: .9px;
    }
    .sidebar-list+.sidebar-list {
        float: right;
    }
    .slider {
        clear: both;
        padding-top: 3px;
        max-width: 200px;
        div.range.inactive {
            opacity: .3;
            transition: opacity .3s ease;
        }
        div.range {
            position: relative;
            clear: both;
            margin-top: 24px;
        }
        div.range:before, div.range:after {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            content: ' ';
            display: block;
            position: absolute;
            background: $secondry-color;
            color: $secondry-color;
            font-size: 12px;
            top: 14.5px;
        }
        div.range .label {
            color:$secondry-color;
            box-sizing: content-box;
            font-size: 10px;
            line-height: 12px;
            margin-top: 2.75px;
            margin-bottom: -8.75px;
            padding-bottom: 0;
            display: block;
        }

        div.range .label.bottom {
            float: left;
            padding-left: 6px;
        }
        div.range .label.bottom:after {
            right: 24%;
        }
        div.range .label.top {
            float: right;
            padding-right: 6px;
        }
        div.range input[type=range] {
            width: calc(100% - 6px);
        }
        div.range .label.data {
            position: absolute;
            left: 6px;
            bottom: 5px;
        }
        div.range:after {
            right: 0;
        }
    }
}
.tile-conatiner{
    padding: 20px;
    margin-top: 149px;
}